---
layout: default
root: True
description: The South Eugene Robotics Team is a robotics team competing in the FIRST Robotics Competition (FRC).
javascript:
- slider.js
---
<section id="slider" class="main special">
	<div class="slider"></div>
</section>
<!-- Introduction -->
<section id="intro" class="main">
	<a id="anchor-intro"></a>
	<div class="spotlight">
		<div class="content">
			<header class="major">
				<h2>Who are we?</h2>
			</header>
			<p>The South Eugene Robotics Team (SERT), founded in 2007, is the only FRC team in the Eugene/Springfield area.
				SERT has had members from all around the Eugene/Springfield area, including home-schooled students and
				students from schools such as Willamette, North Eugene, and Sheldon.
			</p>
			<p>Most high-schools do not offer many hands-on mechanical classes, so SERT is one of the few opportunities for
				students to learn these skills which become incredibly benneficial throughout their lives.
			</p>
			<ul class="actions">
				<li><a href="about" class="button">Learn More</a></li>
			</ul>
		</div>
		<span class="image"><img src="assets/images/about.jpg" alt="" /></span>
	</div>
</section>
<!-- Stats Section -->
<a id="anchor-stats"></a>
<section id="stats" class="main special">
	<header class="major">
		<h2>Statistics</h2>
	</header>
	<ul class="statistics">
		<li class="style1">
			<span class="icon fa-users"></span>
			<strong>{{site.data.stats.members}}</strong> Members
		</li>
		<li class="style2">
			<span class="icon fa-user"></span>
			<strong>{{site.data.stats.mentors}}</strong> Mentors
		</li>
		<li class="style3">
			<span class="icon fa-clock-o"></span>
			<strong>{{site.data.stats.seasons}}</strong> Seasons
		</li>
	</ul>
</section>
<!-- Social Section -->
<a id="anchor-social"></a>
<section id="social" class="main special">
	<header class="major">
		<h2>Social</h2>
		<p>Checkout SERT on social media!</p>
		<ul class="icons">
			{% for media in site.data.social %}
			<li>
				<a href="{{media.profile}}" class="icon fa-{{media.type}} alt">
				<span class="label">{{media}}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</header>
</section>
<!-- Blog Section -->
<a id="anchor-blog"></a>
<section id="blog" class="main special">
	<header class="major">
		<h2>Latest Blog Posts</h2>
		<ul class="latest">
			{% for post in site.posts limit:3 %}
			<small>{{ post.date | date: "%B %e, %Y" }}</small>
			<a href="{{ post.url }}">
				<h3><strong>{{ post.title }}</strong></h3>
			</a>
			{% endfor %}
		</ul>
	</header>
</section>
