#intro, #intro > .spotlight {
	padding-top: 35px !important;
}

#slider {
	height: 425px;

	background-color: transparent;

	padding: 0 !important;
}

.slider {
	height: 100%;

	background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
}

.sponsor-grid {
	display: grid;
	grid-template-columns: auto auto auto;
}

.sponsor {
	column-span: 1;
	padding-bottom: 85px;
}

.sponsor > * {
	margin-bottom: 0;
}

.sponsor-image {
	max-width: 225px;
}

#lead-image {
	height: 425px;

	background-color: transparent;

	padding: 0 !important;
}

.lead-image {
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#content > p {
	text-align: left;
}

#disqus {
	margin: 20px;
}
