.people {
	width: 100%;
	margin-top: 40px;
	overflow: auto;
	display: inline-block;
}

.people:first-child {
	margin-top: 0;
}

.people:last-child {
	margin-bottom: 175px;
}

.people-img {
	width: 350px;
    height: 350px;
    border-radius: 2%;
}

.people-img.right {
	float: right;
}

.people-img.left {
	float: left;
}

.people-text {
	text-align: justify;
	overflow: hidden;
    padding: 10px;
}

.people-text.right {
	padding-left: 15px;
}

.people-text.left {
	padding-right: 15px;
}

#content {
    height: auto !important;
}
