.robot
{
  width: 100%;
  margin-top: 225px;
}

.robot:first-child
{
  margin-top: 50px;
}

.robot:last-child
{
  margin-bottom: 200px;
}

.robot-img.right
{
  float: right;
}

.robot-img.left
{
  float: left;
}

.robot-text
{
  text-align: justify;
  overflow: hidden;
}

.robot-text.right
{
  padding-left: 15px;
}

.robot-text.left
{
  padding-right: 15px;
}
