.robot {
	width: 100%;
	margin-top: 80px;
}

.robot:first-child {
	margin-top: 0;
}

.robot:last-child {
	margin-bottom: 175px;
}

.robot-img {
	width: 350px;
}

.robot-img.right {
	float: right;
}

.robot-img.left {
	float: left;
}

.robot-text {
	text-align: justify;
	overflow: hidden;
}

.robot-text.right {
	padding-left: 15px;
}

.robot-text.left {
	padding-right: 15px;
}
