---
layout: default
---
<section id="content" class="main special">
	<h1>Blog Posts</h1>

	<hr />

	<div class="posts">
		{% for post in paginator.posts %}
		<a href="{{ post.url }}">
			<div class="post">
				<h3>{{ post.title }}</h3>
				<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
			</div>
		</a>
		{% endfor %}
	</div>

	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">Prev</a>
		{% else %}
		<span class="previous">Prev</span>
		{% endif %}
		<span class="page_number "> - {{ paginator.page }} of {{ paginator.total_pages }} - </span>
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% else %}
		<span class="next ">Next</span>
		{% endif %}
	</div>
</section>
