<!DOCTYPE HTML>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}SERT 2521</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% include css.html %}
		{% for css in page.css %}
		<link href="/assets/css/{{css}}" rel="stylesheet">
		{% endfor %}
		{% include favicon.html %}
	</head>
	<body>
		<!-- Header -->
		<header id="header" class="alt">
			<div id="pjs"></div>
			<a href="/">
			<span class="logo"><img src="/assets/images/logo.png" height="96" alt="" /></span>
			<h1>South Eugene Robotics Team</h1>
			</a>
		</header>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="{% unless page.root %}/{% endunless %}#anchor-intro">About</a></li>
					<li><a href="{% unless page.root %}/{% endunless %}#anchor-stats">Statistics</a></li>
					<li><a href="{% unless page.root %}/{% endunless %}#anchor-social">Social</a></li>
					<li><a href="{% unless page.root %}/{% endunless %}#anchor-blog">Blog</a></li>
				</ul>
			</nav>
			<!-- Main -->
			<div id="main">
				{{ content }}
			</div>
			<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; South Eugene Robotics Team</p>
			</footer>
		</div>
		<!-- Scripts -->
		{% include javascript.html %}
		{% for js in page.javascript %}
		<script src="/assets/js/{{js}}"></script>
		{% endfor %}
	</body>
</html>
