<!DOCTYPE HTML>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}South Eugene Robotics Team</title>
    <meta charset="utf-8" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include css.html %}
    {% for css in page.css %}
    <link href="/assets/css/{{css}}" rel="stylesheet">
    {% endfor %}
    {% include favicon.html %}
</head>
<body>
<!--
<a href="https://docs.google.com/presentation/d/1lIbz8KuFvkxew2LPKRB7UogfuiWTDjyBrNoaB2NVHoE/edit?usp=sharing">
    <div style="color: white; background-color: purple; width: 100%; height: 75px; font-size: 25px; text-align: center; position: absolute; padding-top: 15px; z-index: 9999; overflow: hidden;">
        Check out our SLAM presentation!
    </div>
</a>
-->

<!-- Header -->
<header id="header" class="alt noselect">
    <div id="pjs"></div>
    <a href="/">
        <span class="logo noselect"><img src="/assets/images/logo.png" height="96" alt="" /></span>
        <h1 class="noselect">South Eugene Robotics Team</h1>
    </a>
</header>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Nav -->
    <nav id="nav">
        <ul id="nav-list" class="noselect">
            {% for item in site.data.navigation %}
            {% if item.subpages %}
            <li class="dropdown">
                <a {% if item.url %} href="{{item.url}}" {% else %}} href="#" {% endif %} class="dropdown-title">{{item.title}}</a>
                <div class="dropdown-content">
                    {% for subitem in item.subpages %}
                    <a class="dropdown-item" href="{{subitem.url}}">{{subitem.title}}</a><br />
                    {% endfor %}
                </div>
            </li>
            {% else %}
            <li>
                <a href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li style="height: 36px">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="margin-top: 5px">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="XAPA9VJHWAE94">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="Donate with PayPal" alt="Donate with PayPal button">
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </li>
        </ul>
    </nav>
    <!-- Main -->
    <div id="main">
        {{ content }}
    </div>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; South Eugene Robotics Team</p>
    </footer>
</div>
<!-- Scripts -->
{% include javascript.html %}
{% for js in page.javascript %}
<script src="/assets/js/{{js}}"></script>
{% endfor %}
</body>
</html>
